{% extends "base_generic.html" %}

{% block content %}
{% load static %}
  
<header class="masthead">
         {% if user.is_authenticated  %}{% if user.is_staff %}
<div class="page-section portfolio container page-section-heading text-uppercase text-secondary mb-0 ">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Borrar Comic</h2>
        
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-film"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
<p></p>
<br>
<center>
    <h3>El Comic se borrara definitivamente ¿continuar ?</h3>
    <h4>Nombre del Comic: {{ comic.nombre }}</h4>
    <div style="height: 300px; width: 500px;">
        <img class="card-img-top card mb-2" src="{{ comic.image.url}}">
    </div>

<form action="" method="POST">
{% csrf_token %}
 <div style="width: 50%;">
    <a href="{% url 'comic-detail' comic.pk %}"
        class="btn btn-primary btn-xl" style="float: left;">retroceder
    </a>

    <button type="submit" class="save btn btn-primary btn-xl" 
        style="float: right;">Borrar comic
    </button>
 </div>
 
</form>

</center>
</div>
        
    {% else %}
    <div class="container">
        <p class="page-section-heading text-center text-uppercase text-secondary mb-0">
        no tiene los permisos para continuar </p>
    </div>

     {% endif %}{% else %}
    <div class="container">
        <p class="page-section-heading text-center text-uppercase text-secondary mb-0">
        no tiene los permisos para continuar </p>
    </div>{% endif %}   
</header>
{% endblock %}